.utils {

    // Text style
    &.fz-50 {
        font-size: 50px;
    }

    &.fz-35 {
        font-size: 35px;
    }

    &.fz-25 {
        font-size: 25px;
    }

    &.fz-20 {
        font-size: 20px;
    }

    &.fz-18 {
        font-size: 18px;
    }

    &.fz-16 {
        font-size: 16px;
    }

    &.fz-14 {
        font-size: 14px;
    }

    // font-weight style
    &.fw-700 {
        font-weight: 700;
    }

    &.fw-500 {
        font-weight: 500;
    }

    // line-height style
    &.line-height-70 {
        line-height: 70px;
    }

    &.line-height-50 {
        line-height: 50px;
    }

    &.line-height-45 {
        line-height: 45px;
    }

    &.line-height-30 {
        line-height: 30px;
    }

    &.line-height-25 {
        line-height: 25px;
    }

    &.line-height-24 {
        line-height: 24px;
    }

    &.line-height-19 {
        line-height: 19px;
    }

    // color style
    &.color-orange-800 {
        color: #F53855;
    }

    &.color-black-800 {
        color: #0B132A;
    }

    &.color-gray-700 {
        color: #4F5665;
    }

    // background style
    &.bg-gray-700 {
        background: #FFECEC;
    }

    &.bg-gray-600 {
        background: #F6F6F6;
    }

    // button sty;e
    &.btn-1 {
        max-width: 250px;
        min-height: 60px;
        background: #F53838;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background: #e63550;
        }
    }

    &.btn-2 {
        // min-height: 45px;
        // max-width: 178px;
        padding: 13px 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #F53838;
        border-radius: 50px;
        color: #F53855;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            border-color: #e63550;
            color: #e63550;
            background: #e8e8e8;
        }
    }

    // circle style
    &.circle-1 {
        width: 55px;
        height: 55px;
        background: #FFECEC;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // line style
    &.line-1 {
        width: 2;
        // height: 100%;
        border-right: 2px solid #EEEFF2;
    }

    // card style
    &.card-info {
        min-height: 200px;
        border-radius: 20px;
        box-shadow: 1px 16px 67px -17px rgba(0, 0, 0, 0.22);
    }

    &.card-testimony {
        max-width: 400px;
        min-height: 230px;
        border-radius: 10px;
        border: 2px solid #DDDDDD;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        padding: 30px;

        &:hover {
            border: 2px solid #F53838;
        }
    }
}